@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

html {
	font-size: 62.5%;
}

body {
	font-size: var(--fs-400);
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-family: var(--ff-1);
	font-weight: 300;
}

a {
	color: var(--accent-color);
}

h1,
.h1 {
	font-size: var(--fs-700);
	font-weight: 300;
	letter-spacing: -0.5px;
}

h2,
.h2 {
	font-size: var(--fs-600);
	font-weight: 300;
}

h3,
.h3 {
	font-size: var(--fs-600);
	font-weight: 500;
}

h4,
.h4 {
	font-size: var(--fs-500);
	font-weight: 500;
}

p.text--s {
	font-size: var(--fs-300);
	font-weight: 300;
}

input {
	border: none;
	width: 100%;
	padding-bottom: 1.7rem;
	padding-inline: 1.6rem;

	background: none;
	color: var(--primary-color-200);
	caret-color: var(--accent-color);
	&:focus {
		outline: none;
		border-bottom: 1px solid var(--secondary-color-contrast);
	}
}

button {
	padding: 1.5rem 2rem;
	border-radius: 6px;
	border: none;

	background-color: var(--accent-color);
	color: var(--accent-color-contrast);

	cursor: pointer;
	transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;

	&:hover {
		background-color: var(--accent-color-contrast);
		color: var(--secondary-color);
	}
}
